body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}
.command {
	font-family: "Courier New", Courier, monospace;
}
.guimenu {
	font-size: small;
	color: #666666;
	letter-spacing: 1pt;
}

.guimenuitem {
	font-size: small;
	color: #666666;
}

.guibutton {
	font-size: small;
	color: #666666;
}

.guilabel {
	font-size: small;
	color: #666666;
}



td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}


th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}

h1 {
	font-size: xx-large;
}

h2 {
	font-size: x-large;
}

h3 {
	font-size: large;
}

h4 {
	font-size: normal;
}

h5 {
	font-size: normal;
}

